@media (max-width: 768px) {
    .landing-page {
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }

    #img {
        width: 70%;
        margin-top: 20px;
        margin-left: 8%;
    }

    .skills {
        padding: 30px 0;
    }

    .skill-card {
        width: 80%;
    }

    .projects {
        padding: 30px 0;
    }

    .project-card {
        width: 80%;
        height: auto;
        margin: 40px auto;
        padding: 15px;
    }

    .project-card img {
        height: auto;
    }

    .project-card h2 {
        font-size: 24px;
    }

    .project-card p {
        font-size: 14px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .demo-button,
    .github-button {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    #img {
        width: 80%;
    }

    .project-card {
        width: 90%;
    }

    .project-card h2 {
        font-size: 20px;
    }

    .project-card p {
        font-size: 12px;
    }
}
